
body{
background-color:black ;
}
 h1{
color:orangered ;
font-family:Georgia, 'Times New Roman', Times, serif ;
background:black ;
text-align: center;
}
p{
color:orangered ;
font-family:Arial, Helvetica, sans-serif ;
font: size 25px;
background:black ;
text-align: center;
}
#criadorpor{
    color:black;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    background:grey;
    text-align:left;
}

#criadopr2{
    color: black;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}