
body{
background-color: black;
}
 h1{
color:orangered ;
font-family:Georgia, 'Times New Roman', Times, serif ;
background:black ;
text-align: center;
}
#logo{
    width: 100%;
    text-align: center;
}
#jetta{
    width: 10%;
}
#space{
    width: 10%;
}
#touareg{
    width: 10%;
}
#i{
    width: 10%;
}
p{
color:orangered ;
font-family:Arial, Helvetica, sans-serif ;
font-size: 25px;
background:black ;
text-align: justify;
}
#criadorpor{
    color:black;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    background: whitesmoke;
    text-align:center;
}
#marcas{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aliceblue;
    text-align: center;
}
#volkswagen{
    color: aliceblue;
    font-family: monospace;
    font-size: 45;
    text-align: center;
}
#bmw{
    color: aliceblue;
    font-family: monospace;
    font-size: 45;
    text-align: center;
}
#lamborghini{
    color: aliceblue;
    font-family: monospace;
    font-size: 45;
    text-align: center;
}
#ferrari{
    color: aliceblue;
    font-family: monospace;
    font-size: 45;
    text-align: center;
}